$ac-color: #e55d8f; // Акцентный цвет
$text-color: #cdcdcd; // Цвет текста
$gray: #252e3c; // Сервый цвет фона у некоторых блоков
$gray-2: rgba(
  24,
  29,
  39,
  1
); // Цвет для элементов на сайте (кнопки, прогрессбары)

$bg-color: radial-gradient(
  circle,
  rgb(30, 39, 53) 0%,
  rgba(24, 29, 39, 1) 80%
); // Фон сайта

$time: 0.5s ease-in-out;
